<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar libro</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>

   <h1> agregar libro </h1>
   <form class="form-agregar" action="/agregar-libro" method="post">
    <label class="form-agregar_label">
        Título:
        <input type="text" name="titulo" required>
    </label>
    <label class="form-agregar_label">
        Autor:
        
            <select name="autorId">
                <% autores.forEach(autorId => { %>
                    <option value="<%= autorId.id %>"><%= autorId.nombreCompleto %></option>
                <% }) %>
            </select>



        </select>
    </label>
    <label class="form-agregar_label">
        codigo pais:
        <input type="text" name="codigoPais">
    </label>

    <label class="form-agregar_label">
        Precio:
        <input type="number" name="precio" required>
    </label>
    <input type="submit" value="Agregar libro">
</form>




</body>
</html>